:root {
    --color-orange: #ff6900;
    --color-white: #ffffff;
    --color-black: #000000;  
    --color-pale-gray: #f3f3f7;

    --border-radius-button: 9999px;

    --font-ingredients: 1rem 'Roboto', sans-serif;
    --font-family-base: 'Nunito', sans-serif;
}

.container {
    width: 1024px;
    margin: 0 auto;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white); 
    font-family: var(--font-family-base);
    column-gap: 1.25rem;
    flex-wrap: wrap;
} 

.header-info {
    display: flex;
    align-items: flex-start;
    column-gap: 3.5rem;
    
}

.header-logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-orange);
    letter-spacing: 1.2px;
}

.delivery-info {
    display: flex;
    flex-direction: column;
}

.delivery-city {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-black);
}

.city {
    color: var(--color-orange);
}

.delivery-subinfo {
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--color-black);
}

.star {
    font-size: 1rem;
    margin-left: 0.15rem;
}

.phone {
    display: flex;
    flex-direction: column;
}

.phone-number {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-black);
}

.phone-text {
    font-weight: 500;
    font-size: 0.9rem;
    color: #999999;    
}

.header-auth {
    display: flex;
    align-items: center;
}

.login-button {
    color: var(--color-black);
    border-radius: var(--border-radius-button);
    background-color: var(--color-pale-gray);
    text-align: center;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    font-family: var(--font-family-base);
    flex-wrap: wrap;
    margin-top: 0.3rem;

}

.nav-menu-list {
    display: flex; 
    gap: 1.5rem;
}

.nav-menu-list a {
    font-weight: 600;
    font-size: 0.88rem;
}

.nav-menu-list a:hover {
    color:var(--color-orange)
}

.cart-button {
    background-color: var(--color-orange);
    color: var(--color-white);
    border-radius: var(--border-radius-button);
    text-align: center;
    padding: 0.5rem 1.25rem;
    font-weight: 500;
    font-size: 1rem;

}

.pizza-constructor {
    display: grid;
    grid-template-rows: auto auto;
    border-radius: 20px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    padding: 2rem;
    gap: 2rem;
    font-family: var(--font-family-base);
}

.pizza-constructor_header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.pizza-constructor_header_order-summary {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
    height: 100%;

}

.pizza-constructor_title {
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--color-black);
}

.to-cart-button {
    background-color: var(--color-orange);
    border-radius: var(--border-radius-button);
    padding: 1rem 1.8rem;
    color: var(--color-white);
}

.pizza-constructor_preview {
    display: flex;
    justify-self: center;
    align-items: center;
}

.pizza-constructor_preview img {
    width: 26rem;
    height: auto;
}

.pizza-constructor_ingredients {
    display: grid;
    grid-template-columns: 1fr;
}

.ingredients-grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, 1fr);
  grid-auto-flow: column;
  gap: 1rem 2rem;
  font: var(--font-ingredients);
}

.ingredient-button {
    background-color: var(--color-pale-gray);
    color: var(--color-black);
    border-radius: var(--border-radius-button);
    padding: 0.5rem 1rem;
    font-weight: 200;
    text-align: center;
}

