@font-face {
    font-family: 'Nanito';
    src: url('/fonts/Nunito-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanito';
    src: url('/fonts/Nunito-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Nanito';
    src: url('/fonts/Nunito-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-ExtraLight.woff2') format('woff2');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    line-height: 1.5;
}

body {
    min-height: 100%;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.div {
    background-color: inherit;
}

ul,
ol {
    list-style: none;
}

input,
button {
    font: inherit;
    cursor: pointer;
    background: none;
    border: 0;
}

:root {
    --color-orange: #ff6900;
    --color-white: #ffffff;
    --color-black: #000000;  
    --color-pale-gray: #f3f3f7;

    --border-radius-button: 9999px;

    --font-family-base: 'Nanito', sans-serif;
    --font-family-secondary: 'Roboto', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 10rem 0 10rem;
    background-color: var(--color-white); 
    font-family: var(--font-family-base);
    column-gap: 1.25rem;
    flex-wrap: wrap;
} 

.left {
    display: flex;
    align-items: flex-start;
    column-gap: 3.5rem;
    
}

.header-logo {
    font-weight: 700;
    font-size: 1.5rem;
    color: var(--color-orange);
    letter-spacing: 1.2px;
}

.delivery-info {
    display: flex;
    flex-direction: column;
}

.delivery-city {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-black);
}

.city {
    color: var(--color-orange);
}

.delivery-subinfo {
    font-weight: 500;
    font-size: 0.9rem;
    color: var(--color-black);
}

.star {
    font-size: 1rem;
    margin-left: 0.15rem;
}

.phone {
    display: flex;
    flex-direction: column;
}

.phone-number {
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--color-black);
}

.phone-text {
    font-weight: 500;
    font-size: 0.9rem;
    color: #999999;    
}

.right {
    display: flex;
    align-items: center;
}

.login-button {
    color: var(--color-black);
    border-radius: var(--border-radius-button);
    background-color: var(--color-pale-gray);
    text-align: center;
    padding: 0.5rem 1rem;
    font-weight: 500;
    font-size: 1rem;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.3rem 10rem;
    background-color: var(--color-white);
    font-family: var(--font-family-base);
    flex-wrap: wrap;
    margin-top: 0.3rem;

}

.nav-menu-list {
    display: flex; 
    gap: 1.5rem;
}

.nav-menu-list a {
    font-weight: 600;
    font-size: 0.88rem;
}

.nav-menu-list a:hover {
    color:var(--color-orange)
}

.cart-button {
    background-color: var(--color-orange);
    color: var(--color-white);
    border-radius: var(--border-radius-button);
    text-align: center;
    padding: 0.5rem 1.25rem;
    font-weight: 500;
    font-size: 1rem;

}