* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    margin: 0;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
    line-height: 1.5;
}

body {
    min-height: 100%;
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.div {
    background-color: inherit;
}

ul,
ol {
    list-style: none;
}

input,
button {
    font: inherit;
    cursor: pointer;
    background: none;
    border: 0;
}